<div class="app">
  
    <h1>Refund and Cancellation Policy</h1>
  
    <p>Thank you for choosing Roasted Royals! Your satisfaction is our priority. Please read our refund and cancellation policy carefully:</p>
  
    <ul>
      <li>Refund Policy:
        <ul>
          <li>We strive to provide you with the finest coffee beans. If you are not satisfied with your purchase, you may request a refund within 30 days of the delivery date.</li>
          <li>To initiate a refund, please contact our customer support team with your order details and the reason for the refund request.</li>
          <li>Refunds will be processed within 5-7 business days after approval. Please note that shipping costs are non-refundable.</li>
        </ul>
      </li>
  
      <li>Cancellation Policy:
        <ul>
          <li>If you wish to cancel your order, please do so within 24 hours of placing the order. Contact our customer support team with your order details to request cancellation.</li>
          <li>Cancellations made after 24 hours may not be possible if the order has already been processed. In such cases, please refer to our refund policy.</li>
        </ul>
      </li>
  
      
    </ul>
  
    
  
    <p>Thank you for choosing Roasted Royals. Enjoy your coffee experience!</p>
  </div>
  