.app {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
  }
  
  h1 {
    margin: 60px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45px;
    color: rgb(26, 3, 3);
    text-align: center;
    border-bottom: 2px solid #333;
}
  
p {
    font-size: 18px;
    line-height: 1.5;
    color: #555;
    font-style: normal;
}
  
  ol {
    list-style-type: decimal;
    padding-left: 20px;
  }
  
  li {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    font-size: 18px;
    font-style: normal;
  }
  