
.navbar-brand {
    letter-spacing: 3px;
    color: #d90505;
  }
  
  .navbar-brand:hover {
      color: #ff0004;
  }
  
  .navbar-scroll .nav-link,
  .navbar-scroll .fa-bars {
    color: #ff6600;
  }
  
  .navbar-scrolled .nav-link,
  .navbar-scrolled .fa-bars {
    color: #ff6600;
  }
  
  .navbar-scrolled {
    background-color:#ffede7;;
  }
  .nn{
    padding-left:50px;
  }
  #ll{
    padding-left: 50px;
  }