

<div class="ap">
    <div class="im">
      <h2>Social Events</h2>
      <img src="https://aveoninfotech.com/wp-content/uploads/2020/10/Event.png" alt="About Us" />
    </div>
  
    <div class="paragraphs">
     
      <p>
        "Step into the realm of seamless social event management, where every detail is meticulously orchestrated to create unforgettable experiences. From intimate gatherings to grand soirées, we specialize in curating events that captivate and inspire. Our team of dedicated professionals handles every aspect with precision and flair, from venue selection and theme conceptualization to catering, entertainment, and beyond. Whether it's a corporate gala, a charity fundraiser, or a milestone celebration, we are committed to bringing your vision to life with style, sophistication, and impeccable execution. Let us take the stress out of planning, allowing you to enjoy every moment of your event knowing that every detail is in expert hands."      </p>
    </div>
  </div>
  
  <div class="ba">
    <h1>Photos of our Event</h1>
    <div class="card-container"  >
      
        <!-- <div class="card">
          <img src="https://images.pexels.com/photos/164622/pexels-photo-164622.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="Fissure in Sandstone"/>
          <div class="card-body">
            <h5 class="card-title">ESPRESSO BLEND BLACK</h5>
            <p class="card-text">900</p>
            <a href="#!" class="btn btn-primary">BUY</a>
          </div>
        </div>
       -->
  
       <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Business Parties</h5>
          <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
          <p class="card-text">Entertain your business partners or clients with classy cocktail parties. The reputation of your business is at stake during such formal or semi-formal social gatherings. Our team completely understands the significance of your events and so, we handle every aspect of the event carefully. Throughout the year, lavish team lunch parties, business retreats, retirement parties, festive parties or other business parties have to be planned for your business. You can assign the party event management work to us and take care of other important aspects of your business.</p>
          <!-- <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a> -->
        </div>
      </div>
  
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Private Parties</h5>
          <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
          <p class="card-text">You may be looking forward to events such as weddings, birthdays, anniversaries, bridal showers or other celebrations. As reputed party organisers in Mumbai, we have the expertise to plan the best parties for you. With our impressive party execution, attract appreciation for great décor, delectable food preparations, enjoyable entertainment and more.</p>
          <!-- <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a> -->
        </div>
      </div>
      
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Special Occasions</h5>
          <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
          <p class="card-text">With a capable event management company like us, you can run successful parties for special occasions such as fundraisers, holiday parties, reunions etc.  View our portfolio of successful events in various locations throughout Mumbai.</p>
          <!-- <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a> -->
        </div>
      </div>
    
      <div class="card">
        <img src="https://www.sakura.co.in/wp-content/uploads/2022/06/13442159_10153490449640981_2567119341077182291_n-1.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
        <div class="card-body">
          <!-- <h5 class="card-title">ESPRESSO MILK BLEND</h5>
          <p class="card-text">800</p>
          <a href="#!" class="btn btn-primary">BUY</a> -->
        </div>
      </div>
      <div class="card">
        <img src="https://www.sakura.co.in/wp-content/uploads/2022/06/16473171_10154065538230981_4534619498063163847_n-2.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
        <div class="card-body">
          <!-- <h5 class="card-title">ESPRESSO MILK BLEND</h5>
          <p class="card-text">800</p>
          <a href="#!" class="btn btn-primary">BUY</a> -->
        </div>
      </div>
    
      <div class="card">
        <img src="https://www.sakura.co.in/wp-content/uploads/2022/06/12642929_10153205677810981_6204292852610604189_n-1.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
        <div class="card-body">
          <!-- <h5 class="card-title">ESPRESSO MILK BLEND</h5>
          <p class="card-text">800</p>
          <a href="#!" class="btn btn-primary">BUY</a> -->
        </div>
      </div>
      <div class="card">
        <img src="https://www.sakura.co.in/wp-content/uploads/2022/06/10620681_10152248951415981_1114443623578571247_n-1.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
        <div class="card-body">
          <!-- <h5 class="card-title">ESPRESSO MILK BLEND</h5>
          <p class="card-text">800</p>
          <a href="#!" class="btn btn-primary">BUY</a> -->
        </div>
      </div>
      <div class="card">
        <img src="https://www.sakura.co.in/wp-content/uploads/2022/06/IMG-20170516-WA0007-1.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
        <div class="card-body">
          <!-- <h5 class="card-title">ESPRESSO MILK BLEND</h5>
          <p class="card-text">800</p>
          <a href="#!" class="btn btn-primary">BUY</a> -->
        </div>
      </div>
      <div class="card">
        <img src="https://www.sakura.co.in/wp-content/uploads/2022/06/10850131_10152435258755981_3010800686401315780_n-1.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
        <div class="card-body">
          <!-- <h5 class="card-title">ESPRESSO MILK BLEND</h5>
          <p class="card-text">800</p>
          <a href="#!" class="btn btn-primary">BUY</a> -->
        </div>
      </div>
      </div>
      <a href="https://www.google.com/search?sca_esv=dcfe5edb8f188ebf&sxsrf=ACQVn0-qdc2ggsEt5-XoTNRTyITPWjTPCA:1708588042459&q=event+management+social+events+images&tbm=isch&source=lnms&sa=X&ved=2ahUKEwiN-9m6ur6EAxV-bGwGHRSsCsAQ0pQJegQICxAB" class="btn btn-primary">view more</a>
    </div>
    