<div class="img">
    <div class="about-container">
      <h2>Wedding Events Service Offerings</h2>
        <div class="image">
          
          <img src="https://burst.shopifycdn.com/photos/bride-groom-love.jpg?width=925&exif=0&iptc=0" alt="About Us" />
        </div>
      
        <div class="paragraphs">
          
          <p>
            "Welcome to our Grand Gatherings wedding management , where dreams become reality. With meticulous attention to detail and a passion for perfection, we are here to craft your special day into an unforgettable celebration of love. From venue selection to catering, decor, and entertainment, our dedicated team ensures every aspect is flawlessly executed, allowing you to relax and savor every moment. Let us transform your vision into a seamless and magical experience, creating memories to cherish for a lifetime."      </p>
         
          <p>
            <li>
            Wedding décor and design services<br>
          </li>
           <li> Event flow management<br></li>
            <li>Destination wedding planning & venue selection<br></li>
           <li> Entertainment activities for wedding guests<br></li>
          <li>  Wedding guest's management<br></li>
           <li> Pre wedding event decoration & party organization<br></li>
           <li> Food and beverages services<br></li>
           <li> Wedding invitation & other communicationn services <br></li>
           <li> Transport & logistics management<br></li>
           <li> Styling & personal shopper<br></li>
          <li>  Vendor management<br></li>
          <li> Wedding gifing solutions <br></li> 
            <li>Other wedding solutions<br></li>
         
          </p>
  
        </div>
  
    
  <div class="ba">
    <h1>Photos of our Event</h1>
    <div class="card-container"  >
      
        <div class="card">
          <img src="https://www.sakura.co.in/wp-content/uploads/2022/06/1724176_10152412115825981_483868424329534329_n.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
          <div class="card-body">
            <!-- <h5 class="card-title"></h5>
            <p class="card-text">900</p>
            <a href="#!" class="btn btn-primary"></a> -->
          </div>
        </div>
      
        <div class="card">
          <img src="https://www.sakura.co.in/wp-content/uploads/2022/06/10850131_10152435258755981_3010800686401315780_n-1.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
          <div class="card-body">
            <!-- <h5 class="card-title">ESPRESSO MILK BLEND</h5>
            <p class="card-text">800</p>
            <a href="#!" class="btn btn-primary">BUY</a> -->
          </div>
        </div>
      
        <div class="card">
            <img src="https://www.sakura.co.in/wp-content/uploads/2022/06/10846176_10152435265900981_2467232415373588033_n-1.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
            <div class="card-body">
              <!-- <h5 class="card-title">ORGANIC COFFEE POWDER</h5>
              <p class="card-text">600</p>
              <a href="#!" class="btn btn-primary">BUY</a> -->
            </div>
          </div>
    
          <div class="card">
            <img src="https://www.sakura.co.in/wp-content/uploads/2022/06/6071fe23-0aba-4850-8b15-11e6f3723635-2.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
            <div class="card-body">
              <!-- <h5 class="card-title">ORGANIC COFFEE BEANS</h5>
              <p class="card-text">770</p>
              <a href="#!" class="btn btn-primary">BUY</a> -->
            </div>
          </div>
    
          <div class="card">
            <img src="https://www.sakura.co.in/wp-content/uploads/2022/06/10429445_10152435268485981_2859287960217061344_n-1.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
            <div class="card-body">
              <!-- <h5 class="card-title">COFFEE POWDER</h5>
              <p class="card-text">700</p>
              <a href="#!" class="btn btn-primary">BUY</a> -->
            </div>
          </div>
    
          <div class="card">
            <img src="https://www.sakura.co.in/wp-content/uploads/2022/06/10845940_10152435258135981_2263844098438293615_n-1.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
            <div class="card-body">
              <!-- <h5 class="card-title">ROASTED COFFEE BEANS</h5>
              <p class="card-text">400</p>
              <a href="#!" class="btn btn-primary">BUY</a> -->
            </div>
          </div>
    
          <div class="card">
            <img src="https://www.sakura.co.in/wp-content/uploads/elementor/thumbs/4272510c-d403-4278-923c-bdfd149b2de8-2-pqryhom1rq65ybovvt496su2qqchhnerk3xc03ydtc.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
            <div class="card-body">
              <!-- <h5 class="card-title"> BREW BLEND</h5>
              <p class="card-text">400</p>
              <a href="#!" class="btn btn-primary">BUY</a> -->
            </div>
          </div>
          <div class="card">
            <img src="https://5.imimg.com/data5/FR/NA/NU/GLADMIN-27297764/selection-086-500x500.png" class="card-img-top" alt="Fissure in Sandstone"/>
            <div class="card-body">
              <!-- <h5 class="card-title">COLD BREW BLEND</h5>
              <p class="card-text">330</p>
              <a href="#!" class="btn btn-primary">BUY</a> -->
            </div>
          </div>
          <div class="card">
            <img src="https://www.weddingsutra.com/images/Vendor_Images/Wedding_Planners/Arika-Event/arika-event-13.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
            <div class="card-body">
              <!-- <h5 class="card-title">CAFFE BLEND</h5>
              <p class="card-text">300</p>
              <a href="#!" class="btn btn-primary">BUY</a> -->
            </div>
            
          </div>
      </div>
      <a href="https://www.google.com/search?sca_esv=dcfe5edb8f188ebf&sxsrf=ACQVn0-ETD7gRxJuMWfHCVfyBLz_WB99vA:1708587834903&q=event+management+images&tbm=isch&chips=q:event+management+images,online_chips:wedding+planner:hTtZn1kZWdA%3D&usg=AI4_-kRdlPkNenefXb8FTWK-pY2747uFHQ&sa=X&ved=2ahUKEwjy4d3Xub6EAxX1UGcHHTg7Ae8QgIoDKAd6BAgOEB4" class="btn btn-primary">know more</a>
    </div>
    
    
    