/* .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px;
    gap: 30px;
  
  }
  
  .card {
    width: 30%; 
    margin-bottom: 20px;
    transition: width 0.3s ease-in-out;
    
  }
  
  .card.large {
    width: 60%; 
  }

  h1{
    padding-top: 70px;
    text-align: center;
    
  }
  .ba{
    background-image: url(https://images.pexels.com/photos/2824173/pexels-photo-2824173.jpeg?auto=compress&cs=tinysrgb&w=600);
  }
  
   */

   body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
  }
  
  .img {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    justify-content: left;
  }
  
  .about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: left;
  }
  
  .image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    object-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .paragraphs {
    flex: 1;
    padding: 20px;
    justify-content: right;
    list-style: circle;
  }
  
  h2 {
    font-size: 5.cm;
    color: #d13f3f;
    margin-bottom: 15px;
  }
  
  p {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 15px;
    list-style-type: circle;
  }
  
  ul {
    list-style: cross-fade();
    margin-left: 20px;
    padding: 0;
  
  }
  
  li {
    margin-bottom: 8px;
    list-style:calc();
  }
  
   .ba {
    text-align: center;
    padding: 20px;
    background-image: url(https://images.pexels.com/photos/2824173/pexels-photo-2824173.jpeg?auto=compress&cs=tinysrgb&w=600);
  object-position: left;
  }
  
  h1 {
    color: #333;
  }
  
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .card {
    width: 300px;
    height:auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
  }
  
  .card-body {
    padding: 15px;
  }
  /* .ap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
   */
  /* Uncomment the following styles if you want to display card titles, prices, and buttons */
  /*
  .card-title {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 1em;
    color: #777;
  }
  
  .btn {
    display: inline-block;
    padding: 8px 16px;
    margin-top: 10px;
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 4px;
  }
  */
  
