
.navbar-brand {
    letter-spacing: 3px;
    color: #f8f7f7;
  }
  
  .navbar-brand:hover {
      color: #f8f4f4;
      color: #d90505;
  }
  
  .navbar-brand:hover {
      color: #ff0004;

  }
  
  .navbar-scroll .nav-link,
  .navbar-scroll .fa-bars {

    color:white;

  }
  
  .navbar-scrolled .nav-link,
  .navbar-scrolled .fa-bars {
    color: #ffffff;
  }
  
  .navbar-scrolled {
    background-color:#ffede7;;
  }
  .nn{
    padding-left:50px;
  }
  #ll{
    padding-left: 50px;
  }
 
