<div class="ba">
<h1>COFFEE BEANS</h1>
<div class="card-container"  >
  
    <div class="card">
      <img src="https://images.pexels.com/photos/164622/pexels-photo-164622.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="Fissure in Sandstone"/>
      <div class="card-body">
        <h5 class="card-title">ESPRESSO BLEND BLACK</h5>
        <p class="card-text">900</p>
        <a href="#!" class="btn btn-primary">BUY</a>
      </div>
    </div>
  
    <div class="card">
      <img src="https://www.roastycoffee.com/wp-content/uploads/Coffee-Powder.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
      <div class="card-body">
        <h5 class="card-title">ESPRESSO MILK BLEND</h5>
        <p class="card-text">800</p>
        <a href="#!" class="btn btn-primary">BUY</a>
      </div>
    </div>
  
    <div class="card">
        <img src="https://images.pexels.com/photos/1459339/pexels-photo-1459339.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="Fissure in Sandstone"/>
        <div class="card-body">
          <h5 class="card-title">ORGANIC COFFEE POWDER</h5>
          <p class="card-text">600</p>
          <a href="#!" class="btn btn-primary">BUY</a>
        </div>
      </div>

      <div class="card">
        <img src="https://images.pexels.com/photos/4815900/pexels-photo-4815900.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="Fissure in Sandstone"/>
        <div class="card-body">
          <h5 class="card-title">ORGANIC COFFEE BEANS</h5>
          <p class="card-text">770</p>
          <a href="#!" class="btn btn-primary">BUY</a>
        </div>
      </div>

      <div class="card">
        <img src="https://images.pexels.com/photos/1187761/pexels-photo-1187761.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="Fissure in Sandstone"/>
        <div class="card-body">
          <h5 class="card-title">COFFEE POWDER</h5>
          <p class="card-text">700</p>
          <a href="#!" class="btn btn-primary">BUY</a>
        </div>
      </div>

      <div class="card">
        <img src="https://images.pexels.com/photos/773958/pexels-photo-773958.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="Fissure in Sandstone"/>
        <div class="card-body">
          <h5 class="card-title">ROASTED COFFEE BEANS</h5>
          <p class="card-text">400</p>
          <a href="#!" class="btn btn-primary">BUY</a>
        </div>
      </div>

      <div class="card">
        <img src="https://images.pexels.com/photos/92354/pexels-photo-92354.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="Fissure in Sandstone"/>
        <div class="card-body">
          <h5 class="card-title"> BREW BLEND</h5>
          <p class="card-text">400</p>
          <a href="#!" class="btn btn-primary">BUY</a>
        </div>
      </div>
      <div class="card">
        <img src="https://images.pexels.com/photos/606545/pexels-photo-606545.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="Fissure in Sandstone"/>
        <div class="card-body">
          <h5 class="card-title">COLD BREW BLEND</h5>
          <p class="card-text">330</p>
          <a href="#!" class="btn btn-primary">BUY</a>
        </div>
      </div>
      <div class="card">
        <img src="https://images.pexels.com/photos/7125664/pexels-photo-7125664.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="Fissure in Sandstone"/>
        <div class="card-body">
          <h5 class="card-title">CAFFE BLEND</h5>
          <p class="card-text">300</p>
          <a href="#!" class="btn btn-primary">BUY</a>
        </div>
      </div>
  </div>
  
</div>

  