.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px;
    gap: 30px;
  
  }
  
  .card {
    width: 30%; 
    margin-bottom: 20px;
    transition: width 0.3s ease-in-out;
    
  }
  
  .card.large {
    width: 60%; 
  }

  h1{
    padding-top: 70px;
    text-align: center;
    
  }
  .ba{
    background-image: url(https://images.pexels.com/photos/2824173/pexels-photo-2824173.jpeg?auto=compress&cs=tinysrgb&w=600);
  }
  
  