<div class="app">
    <h1>Terms and Conditions</h1>
  
    <p>Welcome to Roasted Royals! By using our website, you agree to the following terms:</p>
  
       <ul>
         <li>Provide accurate information: When placing an order, ensure that the information you provide is accurate and complete for a smooth transaction.</li>
         <li>Order acceptance: Roasted Royals reserves the right to refuse or cancel any order based on factors like product availability, pricing errors, or suspicion of fraudulent activity.</li>
         <li>Respect copyright: All content on our website, including text, images, graphics, and logos, is owned by Roasted Royals and protected by copyright laws. Unauthorized use may result in legal action.</li>
         <li>Privacy protection: We are committed to protecting your privacy. Please refer to our Privacy Policy for details on how we handle your personal information.</li>
         <li>Usage agreement: You agree to use the website in accordance with these terms and applicable laws, avoiding any actions that could harm Roasted Royals or its users.</li>
       </ul>
  
    <p>Thank you for choosing Roasted Royals. Enjoy your coffee experience!</p>
    
</div>
