<div class="full-image">
	<div class="container">
	  <div class="border border-dark" id="login">
		<h1>Login Form</h1>
		<br/>
	  <form #loginForm = "ngForm" (ngSubmit)="submitLogin(loginForm.value)" novalidate>
		  <div class="form-group">
			<label for="email">Email Id</label>
			<input type="email" class="form-control" id="email" aria-describedby="emailHelp" name ="emailId" ngModel required #login = "ngModel" minlength="2" maxlength="50">
			<div class="text-danger"> 
			  <div *ngIf="login.errors?.['required'] && login.touched"> login id is mandatory </div>
		<div *ngIf="login.errors?.['minlength'] && login.touched"> enter minimum 2 charcters </div>
			  </div>
		  </div>
		  <div class="form-group">
			<label for="password">Password</label>
			<input type="password" class="form-control" id="password" name ="password" ngModel required #password = "ngModel" minlength="2" maxlength="50">
			<div class="text-danger">
			  <div *ngIf="password.errors?.['required'] && password.touched">password is mandatory</div>
		<div *ngIf="password.errors?.['minlength'] && password.touched">enter minimum 8 charcters</div>
		</div>
		<br>
		<div class="input-box">
			<ngx-recaptcha2 #captchaElem [siteKey]="siteKey"></ngx-recaptcha2>
		</div>
		  </div>
		  <br>
		  <div class="button"> 
		     <button  class="btn btn-success">Login</button>
			 New User? <a href="registration">SignUp</a>
	      </div>
	
	 
		</form> 
	  </div>  
	  
	  </div>
	</div>