.container{ 
	height: 100vh; 
    display: flex;   
	justify-content: center;
	align-items:center;
	padding: 20px;
  
  }
  .full-image{ 
	background-image: url("https://i.pinimg.com/originals/aa/15/f4/aa15f456c3440500391946354137488a.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
  }
  #login{
	padding: 50px;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.67);
	
  }
  #button{
	color: white;
	background-color: rgb(7, 242, 230);
  }