<div class="container">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="https://www.sakura.co.in/wp-content/uploads/elementor/thumbs/transparent-wedding-4-pqtlwjf27sxpn3kqn5h2np5w384j9co8gjjs1nh3oc.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Weddings</h5>
            <p class="card-text">Grand Gathering events offers comprehensive wedding packages for all types of wedding celebrations. Pre Wedding, Wedding, and Post Wedding functions and. . </p>
            <a href="wedding" class="btn btn-primary">Know more</a>
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="https://www.sakura.co.in/wp-content/uploads/elementor/thumbs/virtual9-pqtm7gblkjvkg3q0wvb4ly0keabymu01ak8qnbajfg.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Social Events</h5>
            <p class="card-text">Organizing social events including wedding events, birthday celebrations, party events, milestone anniversaries, exhibition events, baby showers, themed graduations, and many more. </p>
            <a href="social" class="btn btn-primary">Know more</a>
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="https://www.sakura.co.in/wp-content/uploads/elementor/thumbs/img-corporate-events-pqtmglb40kdxbmg5jtijumzwb5afgwa37skom5qqxo.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Corporate Events</h5>
            <p class="card-text">Grand Gathering Events offers highly competitive rates and concepts for Corporate Events. From Meetings, Incentives, to Product Launches, Inaugurations. .</p>
            <a href="corporateevents" class="btn btn-primary">Know more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
