.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    width: 500px;
}
h3{
    color: black;
}
.full-image{
    background-image: url("https://png.pngtree.com/background/20230112/original/pngtree-c4d-texture-national-style-dark-green-creative-micro-electronic-business-scene-picture-image_1999801.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
#register{
    background-color: transparent;
    color: whitesmoke;
}