.img{
  background-image: url(https://images.pexels.com/photos/2824173/pexels-photo-2824173.jpeg?auto=compress&cs=tinysrgb&w=600);
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqHZQEj01AKxtwXvyU1cDw4-8McRHUPVcfGA&usqp=CAU) no-repeat right top ;
  background-size: cover;
  height: 500px;
 
}

h1{
  text-align: center;
  padding-top: 15%;
}

h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.image {
  flex: 1;
  max-width: 40%;

}

.image img {
  width: 100%;
  border-radius: 60%;

}

.paragraphs {
  flex: 1;
  max-width: 55%;
}

.paragraphs p {
  margin-bottom: 20px;
  font-style: italic;

}



.ap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.im {
  flex: 1;
  max-width: 40%;
  order: 2; 
}

.im img {
  width: 100%;

  border-radius: 50%;
}




.ba {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 12px;
}

.ima {
  max-width: 70%; 
  text-align: center;
  
}

.ima img {
  width: 90%;
  border-radius: 8px;
   height: 40%;
  margin: 32px;
}


