body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
  }
  
  /* Social Events Section Styles */
  /* .ap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
  } */
  
  .im {
    text-align: center;
  }
  
  /* h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
  } */
  
  img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .paragraphs {
    flex: 1;
    padding: 20px;
  }
  
  p {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 15px;
  }
  
  /* Photo Gallery Styles */
  /* .ba {
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
  }
   */
   /* .cor {

   } */
   .cor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .card {
    width: 18rem;
    margin: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    background-color:darkgray;
  }
  

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .card {
    width: 18rem;
    margin: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 1em;
    color: #555;
    line-height: 1.4;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 4px;
    margin-top: 20px;
  }
  

  h1{
    padding-top: 70px;
    text-align: center;
    justify-content: center;
    
  }
  h2 {
    font-size: 5.cm;
    color: #d13f3f;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
  }

  
  .ba{
    background-image: url(https://images.pexels.com/photos/2824173/pexels-photo-2824173.jpeg?auto=compress&cs=tinysrgb&w=600);
  }
  
