
<div class="ap">
    <div class="im">
      <h2>CORPORATE EVENT
        MANAGEMENT SERVICES
        </h2>
        
      
      <img src="https://tripleseat.com/wp-content/uploads/2023/10/How-to-Market-Your-Venue-to-Corporate-Event-Planners.jpg" alt="About Us" />
    </div>
  
    <div class="paragraphs">
     
      <p>
        "Events are a critical part of every corporate marketing and branding plans. While your team may come up with the brilliant ideas for luxurious product launches or remarkable MICE events, the corporate event management services offered by Sakura Events in India and UAE can make sure that your ideas are brought to life in the event. Our team handles event execution in accordance with your budget and expectations, without any scope of error. View our portfolio of successful corporate events."      </p>
    </div>
  </div>
  <div class="cor">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Product Launch, Conference And Seminars</h5>
      <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
      <p class="card-text">As a trusted corporate event management company, a Sakura event showcases credible experience in organising conference and seminars for top global companies. On the event day, Sakura Events team ensures that all the guests invited by the Corporate are engaged, and they enjoy the event planned out for them.</p>
      <!-- <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a> -->
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Outdoor Events</h5>
      <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
      <p class="card-text">Corporate Off-Sites, Outdoor Corporate Events are handled with expert precision by our event management services team. From venue finding to executing all outdoor event requirements and keeping in mind all safety and security precautions, Sakura Events can take care of all the essential details for outdoor events.</p>
      <!-- <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a> -->
    </div>
  </div>
  </div>
  
  
  <div class="ba">
    <h1>Photos of our Event</h1>
    <div class="card-container"  >
      
        <!-- <div class="card">
          <img src="https://images.pexels.com/photos/164622/pexels-photo-164622.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="Fissure in Sandstone"/>
          <div class="card-body">
            <h5 class="card-title">ESPRESSO BLEND BLACK</h5>
            <p class="card-text">900</p>
            <a href="#!" class="btn btn-primary">BUY</a>
          </div>
        </div>
       -->
  
       
      <!-- <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Special Occasions</h5>
          <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
          <!-- <p class="card-text">With a capable event management company like us, you can run successful parties for special occasions such as fundraisers, holiday parties, reunions etc.  View our portfolio of successful events in various locations throughout Mumbai.</p>
          <!-- <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a> -->
        <!-- </div>
      </div> --> 
    
      <div class="card">
        <img src="https://www.sakura.co.in/wp-content/uploads/2022/06/DSCN0021.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
        <div class="card-body">
          <!-- <h5 class="card-title">ESPRESSO MILK BLEND</h5>
          <p class="card-text">800</p>
          <a href="#!" class="btn btn-primary">BUY</a> -->
        </div>
      </div>
      <div class="card">
        <img src="https://www.sakura.co.in/wp-content/uploads/2022/06/12669628_10153239536190981_4789981520460702512_n.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
        <div class="card-body">
          <!-- <h5 class="card-title">ESPRESSO MILK BLEND</h5>
          <p class="card-text">800</p>
          <a href="#!" class="btn btn-primary">BUY</a> -->
        </div>
      </div>
    
      <div class="card">
        <img src="https://www.sakura.co.in/wp-content/uploads/2022/06/1978677_10152814618425981_7574848519979724632_n.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
        <div class="card-body">
          <!-- <h5 class="card-title">ESPRESSO MILK BLEND</h5>
          <p class="card-text">800</p>
          <a href="#!" class="btn btn-primary">BUY</a> -->
        </div>
      </div>
      <div class="card">
        <img src="https://www.sakura.co.in/wp-content/uploads/2022/06/10390009_10152814620800981_2359917253716364970_n.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
        <div class="card-body">
          <!-- <h5 class="card-title">ESPRESSO MILK BLEND</h5>
          <p class="card-text">800</p>
          <a href="#!" class="btn btn-primary">BUY</a> -->
        </div>
      </div>
      <div class="card">
        <img src="https://www.sakura.co.in/wp-content/uploads/2022/06/10580031_10152347750385981_6678235123301444689_n.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
        <div class="card-body">
          <!-- <h5 class="card-title">ESPRESSO MILK BLEND</h5>
          <p class="card-text">800</p>
          <a href="#!" class="btn btn-primary">BUY</a> -->
        </div>
      </div>
      <div class="card">
        <img src="https://www.sakura.co.in/wp-content/uploads/2022/06/1724176_10152412115825981_483868424329534329_n.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
        <div class="card-body">
          <!-- <h5 class="card-title">ESPRESSO MILK BLEND</h5>
          <p class="card-text">800</p>
          <a href="#!" class="btn btn-primary">BUY</a> -->
        </div>
      </div>
      </div>
      <a href="https://www.google.com/search?sca_esv=85af15397c77c0f6&sxsrf=ACQVn0_yrb8ylnQ8hAyq--sUlyKAzvv6dg:1709027486977&q=corporate+events+image&tbm=isch&source=lnms&sa=X&ved=2ahUKEwjY1ZbCn8uEAxVEbmwGHWmFDUsQ0pQJegQICxAB" class="btn btn-primary">view more</a>
    </div>
      