.picsum-img-wrapper {
  width: 100%;
  height: 580px; 
  overflow: hidden;
  padding-top: 30px;
}

.picsum-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.3);
  color: #fff; 
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  padding: 20px;
  text-align: center;
}

.carousel-caption h3 {
  margin: 0;
  font-size: 24px;
}

.carousel-caption p {
  margin: 10px 0 0;
  font-size: 16px;
}
h1{
  font-size: 50px;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  color:white;
}


.home {
  
  background-image: url(https://images.pexels.com/photos/683039/pexels-photo-683039.jpeg);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  height: 600px; 
  background-position: center top;
  background-size: cover;
}

.context {
  text-align: center;
}

.context h1 {
  margin-bottom: 5px;
}

.context a {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #007bff; 
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}


.home1 {
    display: flex;
    align-items: center; 
  }
  h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .image {
    flex: 1; 
    padding: 40px;
  }
  
  .image img {
    width: 100%;
    height: 500px;
  }
  
  .paragraphs {
    flex: 1; 
    padding: 0 20px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
     
  }
  h2{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
  }



  .home2 {
    display: flex;
    flex-direction: row-reverse; 
    align-items: center;
    justify-content: space-between; 
  
  }
  
  .paragraphs1 {
    max-width: 50%; 
    padding: 20px; 
  }
  
  .image1 {
    max-width: 50%;
    padding: 40px;
  }
  
  img {
    max-width: 100%; 
    height: 400px; 
  }
  
  .ap{
    background-image: url(https://images.pexels.com/photos/5691475/pexels-photo-5691475.jpeg);
  }