.img{
    background-image: url(https://images.unsplash.com/photo-1519750783826-e2420f4d687f?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    /* background-size: auto; */
  }

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: rgb(252, 112, 112);
    background: url(https://www.shutterstock.com/image-photo/event-management-concept-meeting-white-260nw-647550292.jpg) no-repeat right top ;
    background-size: cover;
    height: 500px;
    padding: 10px;
   
  }

  h1{
    text-align: center;
    padding-top: 15%;
    font-size: 70px;
   
  }



.contact-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px;
  }
  
  .contact-card {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  .contact-card img {
    width: 50px;
    height: 50px;
  }
  

.contact-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  