  .main-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: rgb(52, 47, 47);
  color: white;
  background-color: rgb(0, 0, 0);
  padding: 65px 0;
}

.footer-left {
  align-items: flex-start;
  text-align: center;
}

 .footer-center,
 .footer-right { 
  align-items: flex-end;
  gap: 10px;
}

 h1 {
  margin: 0;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

 h4 {
  font-size: 25px;
  margin: 0;
  padding-bottom: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

 a {
  color:  white;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
}

 .footer-social--icons {
  display: flex;
  gap: 10px;
}
.footer-social--icons a {
  font-size: 24px;
  color: white; 
  list-style-image: cross-fade(10px);
  

} 



