
<div class="main-footer1" *ngIf="showFooter">
  <div class="main-footer">

    <div class="footer-left">
      <h1>Grand Gatherings</h1>
      <p>We are a team of professionals<br>
         and our passion is the creation<br>
          and implementation of creative<br>
           and grand events.
      </p>
    </div>
  
    <div class="footer-center">
      <h4>Services We offer</h4>
      <li> <a href="wedding">wedding events</a><br></li>
     <li> <a href="social">social events</a><br>  </li>
    <li>  <a href="corporateevents">corporate events</a></li>
  
    </div>
  
    
    <div class="footer-center">
      <h4>OTHERS</h4>
      <a routerLink="/privacy">Privacy policy</a><br>
      <a routerLink="/terms">Terms & conditions</a><br>
      <a routerLink="/refunds">Refunds & Cancellations</a><br>
      <a routerLink="/contact-us">Contact-Us</a>
    </div>
  
    
    <div class="footer-right">
      <h4>FOLLOW US</h4>
      <div class="footer-social--icons ok">
        <div>
          <a href="https://www.instagram.com/" target="_blank">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </div>
        <div>
          <a href="https://www.facebook.com/" target="_blank">
            <i class="fa-brands fa-facebook"></i>
          </a>
        </div>
        <div>
          <a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZW4ifQ%3D%3D%22%7D" target="_blank">
            <i class="fa-brands fa-twitter"></i>
          </a>
        </div>
        <div>
          <a href="https://www.youtube.com/" target="_blank">
            <i class="fa-brands fa-youtube"></i>
          </a>
        </div>
      </div>
    </div>
  
  </div>
</div>






